#root {
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.user__container {
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center; */
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 400px;
  height: auto;
  transform: translate(-50%, -80%);
}

.button__chat {
  align-self: center;
  display: block;
  width: 180px;
  height: 40px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #928888;
  line-height: 40px;
  letter-spacing: -.2px;
  background: #d6cfcf;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
}

.button__chat_active {
  font-weight: 800;
  color: #fff;
  text-shadow: 0 2px rgba(18,167,110,.32);
  background: #03cc7c;
  transition: all 0.22s cubic-bezier(0.4, 0.27, 0.8, 0.55)
}

.button__chat_active:hover {
  background: #01ad79;
  transition: all 0.32s cubic-bezier(0.4, 0.27, 0.8, 0.55)
}

